img.logo {
    width: 200px;
}

.cst-bnt {
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    background-color: rgba(255, 255, 255, 0.32);
    color: white;
    padding: .5em .2em;
}

.cst-bnt:hover {
    backdrop-filter: blur(12px) !important;
    -webkit-backdrop-filter: blur(12px) !important;
    color: white !important;
}

.ant-modal-content {
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    background-color: transparent !important;
    color: white !important;
}

.ant-modal-header {
    background-color: transparent !important;
    color: white !important;
}

.ant-modal-title, .ant-collapse-header-text {
    color: white !important;
}

.ant-collapse-header {
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 6px !important;

    transition: all .3s;
}

.ant-collapse-item.ant-collapse-item-active > .ant-collapse-header {
    border-radius: 10px 10px 0 0 !important;
}

.ant-collapse-content, .ant-pagination-item {
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    background-color: rgba(255, 255, 255, 0.06) !important;
    color: white !important;
}

label {
    color: white !important;
}

.market {
    background-color: rgba(255, 255, 255, 0.06) !important;
    border-radius: 6px;
    color: white;
}

.market-delete {
    background-color: rgba(255, 255, 255, 0.06) !important;
    color: crimson;
}

.market-delete:hover {
    color: crimson !important;
    transform: scale(1.08);
}

.WB {
    background-color: #BC3D96;
}

.OZON {
    background-color: #005BFF;
}

.Yandex {
    background-color: #ffdb4d;
    color: black;
}

input[type=number], input[type=text], .ant-select-selector {
    background-color: rgba(255, 255, 255, 0.06) !important;
    accent-color: #573db7 !important;
    color: white !important;
}

.ant-modal-close-x, .ant-result-title {
    color: white !important;
}
